OWNER=nome do dono do whatsapp
OWNER_PHONE_NUMBER=telefone que o bot deve enviar as mensagens para contatar o dono do numero

WPP_API=api que está com o whatsapp rodando
DB_URL=url do mongodb

OPEN_API_ASSISTANT_ID=id do assistentente do openAI
OPEN_API_KEY=chave do openAI